.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 0 20px;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    font-size: 1rem;
}

