/* Обнуление стилей */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* *********************** */

body{
    line-height: normal;
    padding: 30px;
    font-size: 5em;
    height: 100%;
    min-width: 30%;

}
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px,200px) minmax(100px,200px) minmax(150px,250px);
    justify-content: center;
    align-content: center;
    padding: 30px 0px 0px 0px;
    min-width: 660px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*min-height: 60%;*/
    /*margin: 0px auto;*/
    border: 8px solid #000;
}

.currentCounter, .isEven {
    /*max-width: 50%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    /*font-size: 40px;*/
    margin: auto;
    border: 8px solid #000;
    /*margin-bottom: 30px;*/
}

.currentCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60%;
    min-height: 80%;
}

.isEven{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60%;
    min-height: 60%;
    font-size: 3rem;
}

.buttons{
    /*margin: auto;*/
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
    padding: 0px 20px;
    /*max-width: 60%;*/
    /*max-width: 65%;*/
    /*display: flex;*/
    /*margin: auto;*/
}

.buttons__wrapper{
    max-width: 75%;
    min-width: 75%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
button {
    /*margin: auto;*/
    /*min-width: 30%;*/
    border: 8px solid #000;;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    font-size: 3rem;
    /*font-weight: bold;*/
}

.decrement, .increment {
    min-width: 90%;
    min-height: 60%;
    font-size: 4rem;
    font-weight: bolder;
}

.reset {
    min-width: 90%;
    min-height: 90%;
    font-size: 3rem;
    padding: 10px 20px;
}




